<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" i18n>Formations
          <button class="btn btn-primary ms-2" (click)="onRegister()"><i class="fa fa-plus-circle"></i></button>
          <span class="badge rounded-pill bg-success ms-4" *ngIf="formations">{{formations.length}}</span>
        </h5>
      </div>
    </div>
  
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formationFormGroup">
          <div class="mb-3">
            <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="Enter Tiltle ...">
          </div>
          <!-- <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
          class="alert alert-danger"> Title is Required</div> -->
          <div class="mb-3">
            <input
            type="number"
            min="0"
            class="form-control"
            formControlName="level"
            placeholder="Enter Level ...">
          </div>
          <div class="mb-3">
            <input
            type="date"
            class="form-control"
            formControlName="dateDebut"
            placeholder="Start...">
          </div>
          <div class="mb-3">
            <input
            type="date"
            class="form-control"
            formControlName="dateFin"
            placeholder="End ...">
          </div>
          <div class="mb-3">
            <select
            class="form-control"
            formControlName="categorie"
            placeholder="Category ..."
            >
              <option value="Web Developer" i18n>Web Developer</option>
              <option value="Mobile Developer" i18n>Mobile Developer</option>
  
            </select>
          </div>
      <!-- <button type="submit" class="btn btn-success ">Save</button> -->
  
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <app-formations-list [formationsInput]="formations"></app-formations-list>
  </div>
  